* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
.header {
    background-color: rgb(0, 94, 255);
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border: 5px;
    border-color: black;
    width: 400px;
}

.list {
    margin-top: -10px;
    background-color: rgb(217, 217, 217);
    width: 400px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

li {
    margin: 10px 20px;
    text-align: left;
}